/*
	FileInfo CSS styles
*/

.fileInfo {	
}

.fileInfoError {
	display: table;
	margin: 2px 0;
	border: 1px solid #f66;
	background-color: #fee;
}
.fileInfoError div {
	display: table-cell;
	padding: 2px 6px;
	color: white;
	background-color: #f66;
	height: inherit;
}
.fileInfoError span {
	display: table-cell;
	padding: 2px 4px;
	color: #f66;
}