/*
    FileInfo CSS styles
*/

.FileInfo {
}

.FileInfoError {
    display: table;
    margin: 2px 0;
    border: 1px solid #f44;
    background-color: #fee;
    font-size: 12px;
}
.FileInfoError div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #f44;
    height: inherit;
}
.FileInfoError span {
    display: table-cell;
    padding: 2px 4px;
    color: #f44;
}

.FileInfoDownload {
    margin: 0;
    display: inline-block;
}
.FileInfoDownload input[type="submit"] {
    /* Remove all decorations to look like normal text */
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    color: #456789;
    cursor: pointer;
}
.FileInfoDownload input[type="submit"]:hover {
    color: #789abc;
}
